<%- include("./partials/header.ejs") %>
    <div class="columns">
        <div class="column">
            <a href="/find-wine/findPrice25 " class="button">Less Than $25</a>
        </div>
        <div class="column">
            <a href="/find-wine/findPrice50" class="button">Less Than $50</a>
        </div>
        <div class="column">
            <a href="/find-wine/findPrice100" class="button">Less Than $100</a>
        </div>
        <div class="column">
            <a href="/find-wine/findPriceMore100" class="button">More Than $100</a>
        </div>

    </div>

    <div class="columns" id="scrollBar">
        <% for (let i in wines) { %>
            <div class="column is-one-fifth" id="scrollMenu">
                <a href="/find-wine/<%= wines[i].id %> " id="wineList">
                    <figure class="image is-square">
                        <img src="<%= wines[i].img %> " class="img">
                    </figure>
                    <p class="indexP"> <%= wines[i].wineName %> </p>
                    <p class="indexP"> $<%= wines[i].price %> </p>
                </a>
            </div>
        <% } %> 
    </div>

<%- include("./partials/footer.ejs") %> 