<%- include("./partials/header.ejs") %>
 

    <div class="columns" id="scrollBar">
        <% for (let i in wines) { %>
            <div class="column is-one-fifth" id="scrollMenu">
                <a href="/find-wine/<%= wines[i].id %> ">
                    <figure class="image is-square">
                        <img src="<%= wines[i].img %> " class="img">
                    </figure>
                    <p class="indexP"> <%= wines[i].wineName %> </p>
                    <p class="indexP"> $<%= wines[i].price %> </p>
                </a>
            </div>
        <% } %> 
    </div>

<%- include("./partials/footer.ejs") %> 