<%- include("./partials/header.ejs") %>
<nav class="body">
    <input type="text" id="search-box" onkeyup="sendData(this)" placeholder="search...">
    <section id="searchResults">

    </section>
    <br>
    <br>
    <br>
    <div class="columns is-centered" id="buttonBox">
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findPrice25 " class="button is-info is-light">Less Than $25</a>
        </div>
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findPrice50" class="button is-info is-light">Less Than $50</a>
        </div>
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findPrice100" class="button is-info is-light">Less Than $100</a>
        </div>
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findPriceMore100" class="button is-info is-light">More Than $100</a>
        </div>
    </div>
    <div class="columns is-centered" id="buttonBox">
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findColorRed" class="button is-danger">Red Wine</a>
        </div>
        <div class="column is-narrow" id="buttonMenu">
            <a href="/find-wine/findColorWhite" class="button">White Wine</a>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="columns" id="scrollBar">
        <% for (let i in wines) { %>
            <div class="column is-one-fifth is-center" id="scrollMenu">
                <a href="/find-wine/<%= wines[i].id %> " id="wineList">
                    <figure class="image">
                        <img src="<%= wines[i].img %> " class="img" onerror="this.onerror=null; this.src='https:cdn.pixabay.com/photo/2016/07/26/16/16/wine-1543170_1280.jpg'">
                    </figure>
                    <p class="indexP"> <%= wines[i].wineName %> </p>
                    <p class="indexP"> $<%= wines[i].price %> </p>
                </a>
            </div>
        <% } %> 
    </div>

</nav>

<!-- https://www.youtube.com/watch?v=991fdnSllcw  -->
<script>
    function sendData(e) {
        const searchResults = document.getElementById("searchResults")
        let match = e.value.match(/^[a-zA-Z ]*/)
        let match2 = e.value.match(/\s*/)
        if (match2[0] === e.value) {
            searchResults.innerHTML = "";
            return
        }
        if (match[0] === e.value) {
            fetch("getWines", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({payload: e.value})
        }).then(res => res.json()).then(data => {
            let payload = data.payload
            searchResults.innerHTML = "";
            if(payload.length < 1) {
                searchResults.innerHTML = `<p>Sorry, Nothing Found. </p>`
                return;
            }
            payload.forEach((item,index) => {
                if(index > 0) searchResults.innerHTML += `<hr>`
                searchResults.innerHTML += `<a href="/find-wine/${item._id}">${item.wineName}</a>`
            });
        })
        return
        }
        searchResults.innerHTML = "";
    } 
</script>
<%- include("./partials/footer.ejs") %> 