<%- include("./partials/header.ejs") %> 

<div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="<%= wine.img %> " alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%=wine.wineName%> </strong> <small><%=wine.years%>       </small>
            <span class="showPrice">$<%= wine.price %>  </span>
            <br>
          </p>
          <p><strong>Wine Note</strong></p>
          <%= wine.desc %> 
        </div>
      </div>
    </article>
  </div>

<%- include("./partials/footer.ejs") %> 