<%- include("./partials/header.ejs") %> 
<nav class="body">
  <% if (error) { %>
    <p class="err-msg">Sign in first</p>
  <% } %> 
  <div class="box" id="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="<%= wine.img %> " alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%=wine.wineName%> </strong> <small><%=wine.years%>       </small>
              <span class="showPrice">$<%= wine.price %>  </span>
              <br>
            </p>
            <p>
             <strong>Color :</strong>  <%= wine.color %> 
            </p>
            <p><strong>Wine Note</strong></p>
            <%= wine.desc %> 
          </div>
        </div>
      </article>
    </div>
    
    <!-- edit delete button -->
    <div class="columns" id="buttonBox">
      <div class="column is-narrow" id="buttonMenu">
        <form action="/find-wine/<%= wine.id %>/edit">
          <button class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
            <span>Edit</span>
          </button>
        </form>
      </div>
      <div class="column is-narrow" id="buttonMenu">
        <form action="/find-wine/<%= wine.id %>?_method=DELETE" method="POST" id="EditForm">
          <button class="button is-danger is-outlined" onclick="submitResult(event)">
            <span>Delete</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>    
        </form>
      </div>
    </div>
</nav>

<script>
// sweet alert 2
function submitResult(e) {
    e.preventDefault();
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            document.getElementById("EditForm").submit();
        }
    })
}

</script>

<%- include("./partials/footer.ejs") %> 