<%- include("./partials/header.ejs") %> 
<nav class="body">
    <% for(let i in wine) { %>
        <% if (wine[i].price <= 25) {%>
            <div class="box" id="box">
                <article class="media">
                    <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="<%= wine[i].img %> " onerror="this.onerror=null; this.src='https:cdn.pixabay.com/photo/2016/07/26/16/16/wine-1543170_1280.jpg'">
                    </figure>
                    </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=wine[i].wineName%> </strong> <small><%=wine[i].years%>       </small>
                            <br>
                        </p>
                        <p>
                            <strong>Color :</strong>  <%= wine[i].color %>
                            <br>
                            <br>
                            <strong>Price:</strong> $<%= wine[i].price %> 
                        </p>
                      <p><strong>Wine Note</strong></p>
                      <%= wine[i].desc %> 
                    </div>
                  </div>
                </article>
              </div>
        <% } else if (wine[i].price <= 50){ %>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="<%= wine[i].img %> " onerror="this.onerror=null; this.src='https:cdn.pixabay.com/photo/2016/07/26/16/16/wine-1543170_1280.jpg'">
                    </figure>
                    </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=wine[i].wineName%> </strong> <small><%=wine[i].years%>       </small>
                            <span class="showPrice">$<%= wine[i].price %>  </span>
                            <br>
                        </p>
                        <p>
                            <strong>Color :</strong>  <%= wine[i].color %>
                            <br>
                            <br>
                            <strong>Price:</strong> $<%= wine[i].price %> 
                        </p>
                      <p><strong>Wine Note</strong></p>
                      <%= wine[i].desc %> 
                    </div>
                  </div>
                </article>
              </div>
        <% } else if (wine[i].price <= 100){ %>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="<%= wine[i].img %> " onerror="this.onerror=null; this.src='https:cdn.pixabay.com/photo/2016/07/26/16/16/wine-1543170_1280.jpg'">
                    </figure>
                    </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=wine[i].wineName%> </strong> <small><%=wine[i].years%>       </small>
                            <span class="showPrice">$<%= wine[i].price %>  </span>
                            <br>
                        </p>
                        <p>
                            <strong>Color :</strong>  <%= wine[i].color %> 
                            <br>
                            <br>
                            <strong>Price:</strong> $<%= wine[i].price %>
                        </p>
                        <p><strong>Wine Note</strong></p>
                        <%= wine[i].desc %> 
                    </div>
                    </div>
                </article>
                </div>
        <% } else if (wine[i].price >= 100){ %>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="<%= wine[i].img %> " onerror="this.onerror=null; this.src='https:cdn.pixabay.com/photo/2016/07/26/16/16/wine-1543170_1280.jpg'">
                    </figure>
                    </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=wine[i].wineName%> </strong> <small><%=wine[i].years%>       </small>
                            <span class="showPrice">$<%= wine[i].price %>  </span>
                            <br>
                        </p>
                        <p>
                            <strong>Color :</strong>  <%= wine[i].color %>
                            <br>
                            <br>
                            <strong>Price:</strong> $<%= wine[i].price %> 
                        </p>
                        <p><strong>Wine Note</strong></p>
                        <%= wine[i].desc %> 
                    </div>
                    </div>
                </article>
                </div>
        <% } %> 

<% } %> 
</nav>
    


<%- include("./partials/footer.ejs") %> 